* {
  margin: 0;
  padding: 0; }

.header .coming-soon {
  width: 274px;
  margin: auto;
  margin-top: 16px; }
  .header .coming-soon img {
    height: 100px; }

.tiles {
  margin-top: 30px; }
  .tiles .tiles-container {
    width: 652px;
    margin: auto;
    /*
      bands
    */ }
    .tiles .tiles-container .album {
      position: relative;
      background: whitesmoke;
      height: 156px;
      width: 156px;
      margin: 2px;
      border-radius: 3px;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); }
      .tiles .tiles-container .album .overlay {
        border-radius: 3px;
        height: 156px;
        width: 156px;
        background: orange;
        filter: opacity(0%);
        transition: all 0s; }
      .tiles .tiles-container .album .band {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        font-family: 'helvetica neue';
        display: none; }
      .tiles .tiles-container .album .play-btn {
        position: absolute;
        bottom: 5px;
        left: 5px;
        height: 16px;
        width: 16px;
        background-image: url(../img/play-btn.svg) !important;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        filter: invert(95%);
        cursor: pointer; }
      .tiles .tiles-container .album .link {
        position: absolute;
        bottom: 5px;
        right: 5px;
        height: 16px;
        width: 16px;
        background-image: url(../img/link.svg) !important;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        filter: invert(95%);
        cursor: pointer; }
      .tiles .tiles-container .album:hover .overlay {
        filter: opacity(95%);
        transition: all .5s; }
      .tiles .tiles-container .album:hover .link {
        display: block; }
        .tiles .tiles-container .album:hover .link:hover {
          filter: invert(100%);
          transition: filter .8s; }
      .tiles .tiles-container .album:hover .play-btn {
        display: block; }
        .tiles .tiles-container .album:hover .play-btn:hover {
          filter: invert(100%);
          transition: filter .8s; }
      .tiles .tiles-container .album:hover .band {
        display: block; }
    .tiles .tiles-container .baby {
      background-image: url("../img/albums/baby.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .pearl {
      background-image: url("../img/albums/pearl.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .tigerfawn {
      background-image: url("../img/albums/tigerfawn.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .fatnight {
      background-image: url("../img/albums/fatnight.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .telecom {
      background-image: url("../img/albums/telecom.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .hypoluxo {
      background-image: url("../img/albums/hypoluxo.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .tons {
      background-image: url("../img/albums/tons.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .jason {
      background-image: url("../img/albums/jason.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .faking {
      background-image: url("../img/albums/faking.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .zoya {
      background-image: url("../img/albums/zoya.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .someday {
      background-image: url("../img/albums/someday.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }
    .tiles .tiles-container .soap {
      background-image: url("../img/albums/soap.jpg") !important;
      background-repeat: no-repeat;
      background-size: contain; }

.footer {
  margin-bottom: 10px; }
  .footer .orange {
    width: 42px;
    margin: auto;
    margin-top: 30px; }
    .footer .orange img {
      height: 35px;
      margin: auto; }
  .footer .social {
    width: 100px;
    margin: auto;
    margin-top: 30px; }
    .footer .social a {
      text-decoration: none; }
      .footer .social a img {
        height: 20px;
        margin-left: 9px; }

/*# sourceMappingURL=main.css.map */
