* {
  margin: 0;
  padding: 0;
}

.header {
  .coming-soon {
    width: 274px;
    margin: auto;
    margin-top: 30px;
    img {
      height: 100px;
    }
  }
}


// tiles
.tiles {
  // border: solid red 4px;
  .tiles-container {
    // outline: solid orange 1px;
    width: 652px;
    margin: auto;
    .album {
      background: whitesmoke;
      height: 128px;
      width: 128px;
      margin: 16px;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }
    /*
      bands
    */
    .baby {
      background-image: url('../img/albums/baby.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .pearl {
      background-image: url('../img/albums/pearl.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .tigerfawn {
      background-image: url('../img/albums/tigerfawn.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .fatnight {
      background-image: url('../img/albums/fatnight.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .telecom {
      background-image: url('../img/albums/telecom.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .hypoluxo {
      background-image: url('../img/albums/hypoluxo.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .tons {
      background-image: url('../img/albums/tons.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .jason {
      background-image: url('../img/albums/jason.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .faking {
      background-image: url('../img/albums/faking.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

// footer
.footer {
  margin-bottom: 64px;
  .orange {
    // outline: red solid 1px;
    width: 42px;
    margin: auto;
    margin-top: 30px;
    img {
      height: 35px;
      margin: auto;
    }
  }
  .social {
    // outline: red solid 1px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    a {
      text-decoration: none;
      img {
        height: 20px;
        margin-left: 9px
      }
    }
  }
}
