* {
  margin: 0;
  padding: 0;
}

.header {
  .coming-soon {
    width: 274px;
    margin: auto;
    margin-top: 16px;
    img {
      height: 100px;
    }
  }
}


// tiles
.tiles {
  // border: solid red 4px;
  margin-top: 30px;
  .tiles-container {
    // outline: solid orange 1px;
    width: 652px;
    margin: auto;
    .album {
      position: relative;
      background: whitesmoke;
      height: 156px;
      width: 156px;
      margin: 2px;
      border-radius: 3px;
      display: inline-block;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      .overlay {
        border-radius: 3px;
        height: 156px;
        width: 156px;
        background: orange;
        filter: opacity(0%);
        transition: all 0s;
      }
      .band {
        position: absolute;
        top: 10px;
        left: 25px;
        color: white;
        font-family: 'helvetica neue';
        display: none;
        background-image: url(../img/band-name/baby.gif) !important;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 100px;
        filter: invert(100%);
      }

      .play-btn {
        position: absolute;
        bottom: 8px;
        left: 8px;
        height: 20px;
        width: 20px;
        background-image: url(../img/play-btn.svg) !important;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        filter: invert(95%);
        cursor: pointer;
      }
      .link {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 16px;
        width: 16px;
        background-image: url(../img/link.svg) !important;
        background-repeat: no-repeat;
        background-size: contain;
        display: none;
        filter: invert(95%);
        cursor: pointer;
      }
      &:hover {
        .overlay {
          filter: opacity(95%);
          transition: all .5s;
        }
        .link {
          display: block;
          &:hover {
            filter: invert(100%);
            transition: filter .8s;

          }
        }
        .play-btn {
          display: block;
          &:hover {
            filter: invert(100%);
            transition: filter .8s;
          }
        }

        .band {
          display: block;
        }
      }
    }

    /*
      bands
    */
    .baby {
      background-image: url('../img/albums/baby.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .pearl {
      background-image: url('../img/albums/pearl.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .tigerfawn {
      background-image: url('../img/albums/tigerfawn.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .fatnight {
      background-image: url('../img/albums/fatnight.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .telecom {
      background-image: url('../img/albums/telecom.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .hypoluxo {
      background-image: url('../img/albums/hypoluxo.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .tons {
      background-image: url('../img/albums/tons.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .jason {
      background-image: url('../img/albums/jason.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .faking {
      background-image: url('../img/albums/faking.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .zoya {
      background-image: url('../img/albums/zoya.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .someday {
      background-image: url('../img/albums/someday.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .soap {
      background-image: url('../img/albums/soap.jpg') !important;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

// footer
.footer {
  margin-bottom: 10px;
  .orange {
    // outline: red solid 1px;
    width: 42px;
    margin: auto;
    margin-top: 30px;
    img {
      height: 35px;
      margin: auto;
    }
  }
  .social {
    // outline: red solid 1px;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    a {
      text-decoration: none;
      img {
        height: 20px;
        margin-left: 9px
      }
    }
  }
}
